@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root {
  --main-color: #17141d;
  --secondary-color: #201c29;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--main-color);
  color: white;
  font-family: 'DM Mono', monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  flex: 1 1 auto;
  display: flex;

  justify-content: center;
  align-items: center;
}

.card-list {
  display: flex;

  padding: 3rem;

  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, var(--secondary-color), var(--secondary-color) 1px, var(--main-color) 0, var(--main-color));
}

.card {
  display: flex;
  flex-direction: column;

  position: relative;

  height: 350px;
  width: 400px;
  min-width: 250px;

  padding: 1.5rem;

  background-color: var(--main-color);

  border-radius: 16px;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;

  scroll-snap-align: start;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card__header {
  margin-bottom: auto;
}

.card__header p {
  margin: 0 0 1rem;

  color: #7a7a8c;
  font-size: 14px;
}

.card__header h2 {
  display: inline-block;

  margin: .25rem 0 auto;

  color: inherit;
  font-size: 20px;
  text-decoration: none;

  border: 0;

  cursor: pointer;
}

.card__header h2:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  background-clip: text;

  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card__organization {
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;

  position: relative;

  margin: 3rem 0 0;

}

.organization__logo {
  grid-area: auto;
  align-self: start;

  position: relative;
}

.organization__logo img {
  display: block;

  height: 40px;
  width: 40px;
  
  margin: 16px 10px;

  border-radius: 50%;
  
  overflow: hidden;

  filter: grayscale(100%);
}

.organization__leader {
  grid-area: auto;
}

.organization__leader-prefix {
  color: #7a7a8c;
  font-style: normal;
  font-weight: 700;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 48px;
  width: 60px;

  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.card__tags {
  margin: 1rem 0 2rem;
  margin-bottom: 0;
  padding: .5rem 0 1rem;

  line-height: 2;
}

.card__tags a {
  position: relative;

  margin-right: .3rem;
  padding: .2rem .85rem .25rem;

  color: #7a7a8c;
  font-size: .66rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;

  border: 3px solid #28242f;
  border-radius: 2rem;
}

.card__tags a:last-child {
  margin-right: 0;
}

.card__tags a:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  background-clip: text;
  
  border-color: white;

  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}
